{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"importOrder": [
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/components/common/(.*)$",
		"^@/components/ui/(.*)$",
		"",
		"^@/constants/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"",
		"^@/lib/(.*)$",
		"",
		"^@/types/(.*)$",
		"<TYPES>",
		"",
		"^@/utils",
		"^@/utils/(.*)$",
		"",
		"^[.]"
	],
	"importOrderCaseSensitive": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"jsxSingleQuote": true,
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
